<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BLE
      <ion-button color="primary" (click)="scanDevices()">Scan</ion-button>
      SCAN
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BL</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list   *ngFor="let device of kontaktDevices">
<ion-item>
  <ion-avatar slot="start" [ngStyle]="{'background': device.device.deviceId == 'F5:0F:CA:33:DF:A0'? 'blue' : device.rssi > -65 && device.rssi < 0  ? 'green' : device.rssi > -72 && device.rssi < 65? 'yellow' : device.rssi > -86 && device.rssi < 72? 'orange' : 'red'}">
  </ion-avatar>
  <ion-label>
    <h2>{{device.localName}}</h2>
    <h3>{{device.device.deviceId}}</h3>
    <p>{{device.rssi}}</p>
  </ion-label>
</ion-item>
</ion-list>

</ion-content>
